node_modules/
npm-debug.log*

# Generated IDE target directories & files (created by the CLI, not source)
.agents/
.claude/
.github/
.cursor/
.windsurf/

.cursorrules
.windsurfrules
.skills/
CLAUDE.md